body{
	text-align: center;
}
input{
	font-family: monospace;
	margin-bottom: 5px;
	margin-top: 5px;
}
.button{
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: #e7e7e7; 
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.button-big {
	padding: 10px 24px;
	font-size: 16px;
}
.button:hover {
    background-color: #aaaaaa; 
    color: white;
}
.button-small{
	padding: 5px 10px;
	font-size: 12px;
}
.button:active {
  transform: translateY(4px);
}